#pad-content {
    padding-top: 65px;
}

/*--------------------
1. Section Title
--------------------*/

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    color: #eb0102;
    letter-spacing: -0.6px;
    position: relative;
    margin: 15px 0;
    padding-bottom: 5px;
}

.section-title h2:after {
    left: 50%;
    z-index: 1;
    width: 60px;
    height: 3px;
    content: " ";
    bottom: -5px;
    margin-left: -30px;
    text-align: center;
    position: absolute;
    background: #D4D4D4;
}

/*--------------------
2. HR Rainbow colors
--------------------*/

.hr-bg-violet {
    background-color: #8500b3;
    color: #fff;
}

.hr-bg-indigo {
    background-color: #0304d8;
    color: #fff;
}

.hr-bg-blue {
    background-color: #06e8fe;
}

.hr-bg-green {
    background-color: #02e502;
}

.hr-bg-yellow {
    background-color: #e3d918;
}

.hr-bg-orange {
    background-color: #ff6501;
    color: #fff;
}

.hr-bg-red {
    background-color: #eb0102;
    color: #fff;
}

/*--------------------
3. HR Custom styling
--------------------*/

.hr-p {
    font-size: 18px;
    font-weight: 300;
    line-height: 31px;
    margin: 20px;
    text-align: justify;
}

.hr-borders {
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}

.hr-indent {
    margin: 20px 0;
}
