{% extends "base.html" %}

{% block app_content %}
    <div class="row">
        <div class="col-md">
            <img src="{{ url_for('static', filename='happy_rainbow.jpg') }}" alt="HR" class="img-fluid"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="section-title">
                <h2 class="text-center">Happy Rainbow</h2>
                <p class="hr-p text-center">Welcome to Happy Rainbow Art Classes</p>
            </div>
        </div>
    </div>
    <section id="portfolio" class="bg-info">
        <div class="container">
            <br>
            <br>
            <div class="row hr-borders">
                <div class="col-md">
                    <div class="section-title hr-indent">
                        <h5>Contact us</h5><br>
                        <div>
                            <h6>Happy Rainbow</h6>
                            301 Darshan Smruti, S. V. Road,<br>
                            Santacruz West, Mumbai - 400054, India
                        </div>
                        <br>
                        <div>
                            <h6>Ms Darshini Zaveri</h6>
                            <i class="bi-whatsapp"></i> +91 98203 14097
                        </div>
                        <div>
                            <i class="bi-envelope-fill"></i> happyrainbowworkshop@gmail.com
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md text-right">
                    <small>© 2021 - All Rights Reserved</small>
                </div>
            </div>
            <br>
        </div>
    </section>
    <br>
    <br>
{% endblock %}