{% extends "base.html" %}

{%- block app_content %}
    <div class="row">
        <div class="col-md section-title">
            <h2>{{ title }}</h2>
        </div>
    </div>
    <br>
    <p class="text-center">Attendees for <strong>{{ workshop.title }}</strong>
        on {{ workshop.date_format }}</p>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col" class="d-none d-md-table-cell">Cert</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for participant in participants %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ participant.name }}</td>
                <td>{{ participant.phone }}</td>
                <td class="d-none d-md-table-cell">
                    <a href="{{ url_for('download', workshop_id=workshop.id, participant_id=participant.id, signature='admin') }}"
                       class="btn btn-primary {% if not participant.certificate_pdf %}disabled{% endif %}">
                        <i class="bi-file-medical"></i>
                    </a>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#delete-confirmation" id="{{ participant.id }}">
                        <i class="bi-x-circle"></i>
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Delete Confirmation Modal -->
    <div class="modal fade" id="delete-confirmation" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm Participant Delete</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this participant?</p>
                </div>
                <div class="modal-footer">
                    <form class="form" method="POST" id="participant" enctype="multipart/form-data" novalidate>
                        {{ render_field(form.csrf_token) }}
                        {{ form.participant_id() }}
                        {{ form.submit(class_="btn btn-danger") }}
                    </form>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No - Cancel</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <!--suppress JSUnresolvedVariable -->
    <script>
        document.getElementById("delete-confirmation").addEventListener("show.bs.modal", (e) => {
            document.forms["participant"].participant_id.value = e.relatedTarget.id;
        });
    </script>
{% endblock %}