{% extends "base.html" %}

{%- block app_content %}
    <div class="row">
        <div class="col-md">
            <div class="section-title">
                {% if create %}
                    <h2>Add a new Workshop</h2>
                {% else %}
                    <h2>Edit the Workshop</h2>
                {% endif %}
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-8">
            <form class="form" method="POST" id="workshop" enctype="multipart/form-data" novalidate>
                {{ render_field(form.csrf_token) }}
                {{ render_field(form.title) }}
                {{ render_field(form.topic) }}
                {{ render_field(form.date) }}
                {{ render_field(form.time) }}
                {{ render_field(form.venue) }}
                {{ render_field(form.instructor) }}
                {% if create %}
                    {{ form.submit(class_="btn btn-success", value="Create") }}
                {% else %}
                    {{ form.submit(class_="btn btn-warning", value="Save") }}
                {% endif %}
            </form>
        </div>
    </div>
{%- endblock %}