{% extends "base.html" %}

{%- block app_content %}
    <div class="row">
        <div class="col-md-8 section-title">
            <h2>Upcoming Workshops</h2>
        </div>
        <div class="col-md-4 text-center">
            <a href="{{ url_for('create_workshop') }}" class="btn btn-success">
                <i class="bi-plus-circle"></i> Add Workshop
            </a>
        </div>
    </div>
    {% if workshops %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Topic</th>
                <th scope="col">Date</th>
                <th scope="col" class="d-none d-md-table-cell">Time</th>
                <th scope="col">Edit</th>
                <th scope="col" class="d-none d-md-table-cell">Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for workshop in workshops %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ workshop.title }}</td>
                    <td>{{ workshop.topic }}</td>
                    <td>{{ workshop.date_format }}</td>
                    <td class="d-none d-md-table-cell">{{ workshop.time }}</td>
                    <td>
                        <a href="{{ url_for('update_workshop', workshop_id=workshop.id) }}" class="btn btn-warning">
                            <i class="bi-pencil"></i>
                        </a>
                    </td>
                    <td class="d-none d-md-table-cell">
                        <a href="#" class="btn btn-danger">
                            <i class="bi-x-circle"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <br>
        <p class="text-center">There are no upcoming workshops</p>
    {% endif %}
{% endblock %}